@import "font-awesome.min.css";

@font-face {
    font-family: 'cloud_lightlight';
    src: url('../fonts/cloud-light-webfont.woff2') format('woff2'),
         url('../fonts/cloud-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*------------------------------------------*/
/*	     	General & Basic Styles
/*------------------------------------------*/
body {
  height: 100%;
  font-size: .9rem;
  line-height: 1.3;
  color: #212529;
  /*background-color: #f1f1f1;*/
  background-image: url(../images/bg_body.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}
@media (max-width: 576px) {
  body {
    background-size: 320%;
    background-position: left 105px;
  }
}
@media (max-width: 576px) {
  body {
    background-size: 320%;
    background-position: left 95px;
  }
}
@media (min-width: 1921px) {
  body {
    background-color: #fefefe;
  }
}

label {
  margin-bottom: 4px;
  font-size: .75rem;
  color: #444;
}
ul, menu, dir {
 list-style-type: circle;
 -webkit-padding-start: 20px;
}
a {
  cursor: pointer;
}

.opacity   { opacity: 1!important; -o-opacity: 1!important; -moz-opacity: 1!important; -webkit-opacity: 1!important; }
.opacity-0 { opacity: 0!important; -o-opacity: 0!important; -moz-opacity: 0!important; -webkit-opacity: 0!important; }
.opacity-1 { opacity:.1!important; -o-opacity:.1!important; -moz-opacity:.1!important; -webkit-opacity:.1!important; }
.opacity-2 { opacity:.2!important; -o-opacity:.2!important; -moz-opacity:.2!important; -webkit-opacity:.2!important; }
.opacity-3 { opacity:.3!important; -o-opacity:.3!important; -moz-opacity:.3!important; -webkit-opacity:.3!important; }
.opacity-4 { opacity:.4!important; -o-opacity:.4!important; -moz-opacity:.4!important; -webkit-opacity:.4!important; }
.opacity-5 { opacity:.5!important; -o-opacity:.5!important; -moz-opacity:.5!important; -webkit-opacity:.5!important; }
.opacity-6 { opacity:.6!important; -o-opacity:.6!important; -moz-opacity:.6!important; -webkit-opacity:.6!important; }
.opacity-7 { opacity:.7!important; -o-opacity:.7!important; -moz-opacity:.7!important; -webkit-opacity:.7!important; }
.opacity-8 { opacity:.8!important; -o-opacity:.8!important; -moz-opacity:.8!important; -webkit-opacity:.8!important; }
.opacity-9 { opacity:.9!important; -o-opacity:.9!important; -moz-opacity:.9!important; -webkit-opacity:.9!important; }

.border        { border: 1px solid #e5e5e5; }
.border-dotted { border-style: dotted!important; }
.border-dashed { border-style: dashed!important; }
.border-t      { border:0!important; border-top:    1px solid #e5e5e5!important; }
.border-r      { border:0!important; border-right:  1px solid #e5e5e5!important; }
.border-b      { border:0!important; border-bottom: 1px solid #e5e5e5!important; }
.border-l      { border:0!important; border-left:   1px solid #e5e5e5!important; }

@media (max-width: 480px){
  .border-xs-0 {border: none!important;}
  .p-xs-0  {padding: 0!important;}
  .px-xs-0 {padding-left: 0!important; padding-right: 0!important;}
  .py-xs-0 {padding-top: 0!important; padding-bottom: 0!important;}
  .m-xs-0  {margin: 0!important;}
  .mx-xs-0 {margin-left: 0!important; margin-right: 0!important;}
  .my-xs-0 {margin-top: 0!important; margin-bottom: 0!important;}
}

.w-10 { width: 10%!important; }
.w-20 { width: 20%!important; }
.w-30 { width: 30%!important; }
.w-40 { width: 40%!important; }
.w-50 { width: 50%!important; }
.w-60 { width: 60%!important; }
.w-70 { width: 70%!important; }
.w-80 { width: 80%!important; }
.w-90 { width: 90%!important; }


.position-static    {position: static;}
.position-relative  {position: relative;}
.position-absolute  {position: absolute;}
.position-fixed     {position: fixed;}
.position-sticky    {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.reverse {
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
  unicode-bidi:bidi-override;
  direction:rtl;
}

.alert-dismissible .close.custom {
  position: absolute!important;
  top: unset!important;
  bottom: -.3rem!important;
  right: 0rem!important;
}
.no-scroll { overflow: hidden!important; }

.font-cloud { font-family:'cloud_lightlight'; }

.markpoint {
  position: absolute;
  top: 1px;
  right: -1px;
  color: #fff;
}
.markpoint.hot:before {
  font-family: 'FontAwesome', 'cloud_lightlight';
  content: '\f005 \00a0 ขายดี!!';
  background-color: #ff0000;
  padding: 4px 6px;
}
.markpoint.new:before {
  font-family: 'FontAwesome', 'cloud_lightlight';
  content: '\f005 \00a0 มาใหม่!!';
  background-color: #9af200;
  padding: 4px 6px;
}
.text-black {
  color: #000!important;
}
.text-line-max1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: inherit;
}
.text-line-max2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: inherit;
}
.text-line-max3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: inherit;
}
.badge-site {
  color: #fff;
  background-color: #8dd018;
}
.badge-primary {
  color: #fff;
  background-color: #004998;
}
.progress-bar {
  color: #173544;
  background-color: #9af200;
}
.card {
  border: 1px solid rgba(0, 0, 0, 0.02);
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-body {
  padding: 1.25rem 0.75rem;
}
.card-footer {
  padding: 0.75rem 0.75rem;
  background-color: rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(0, 0, 0, 0.02);
}
.card-text {
  color: #555!important;
}


/*//////////////////////////////////// Site Container */
#site-boxed {
 position: relative;
 display: block;
 height: 100%;
 width: 100%;
 max-width: 1920px;
 padding: 0;
 margin: 0 auto;
}
@media (min-width: 1921px) {
  #site-boxed {
    background-color: rgba(255, 255, 255, .9);
  }
}
/*//////////////////////////////////// Highlight */
#highlight {
  margin: 1.5rem auto;
  padding: 0px 15px;
  width: 100%;
  max-width: 1140px;
}
@media (max-width: 1024px) {
  #highlight {
    padding: 0px 45px;
  }
}
@media (max-width: 992px) {
  #highlight {
    margin: 0 auto;
    padding: 0px 0px;
    overflow: hidden;
  }
}
/*//////////////////////////////////// Header */
#cart-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #173544;
  color: #FFFFFF;
  z-index: 1030;
}
#site-logo img {
  display: block;
  margin: 0 auto 0 auto;
  height: 56px;
}
#site-header {
  position: relative;
  display: inline-block;
  width: 100%;
  /*background-color: #173544;*/
  background-color: rgba(23, 53, 68, .9);
  color: #FFFFFF;
  z-index: 3;
}
#site-header .head-banner {
  position: absolute;
  overflow: hidden;
  width: auto;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 1;
  z-index: 4;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
#site-header .head-banner img {
  position: relative;
}

.head-fix-top {
  position: fixed!important;
  top: 0!important;
  left: auto!important;
  right: auto!important;
  width: 100%!important;
  max-width: 1920px!important;
}

.head-bar-top {
  position: relative;
  display: block;
  width: 100%;
  /*background-color: rgba(0, 0, 0, .2);*/
  /*z-index: 3;*/
}
.head-bar-top .menu-top {
  -webkit-padding-start: 0px;
  margin: 0;
  padding: 0;
}
.head-bar-top .menu-top li {
  position: relative;
  display: inline-block;
}
.head-bar-top .menu-top a {
  color: rgba(255,255,255,.7);
  text-decoration: none;
  cursor: pointer;
}
.head-bar-top .menu-top .nav-link {
  padding: 8px 10px 8px 10px;
  font-size: 13px;
  color: #858e96;
}
.head-bar-top .menu-top .nav-item:hover .main {
  background-color: #173544;
  color: #daf211;
}
.head-bar-top .menu-top .dropdown:hover .dropdown-menu {
  display: block;
}
.head-bar-top .menu-top .dropdown .dropdown-menu {
  margin: 0;
  border-radius: 0;
  box-shadow: 0 4px 8px -3px #555454;
}
.head-bar-top .menu-top .dropdown .dropdown-menu a {
  color: #173544;
}
.head-bar-top .menu-top .dropdown .dropdown-menu li {
  width: 100%;
}
.head-bar-top .menu-top .dropdown .dropdown-menu li:hover {
  background-color: #cdd6da;
}


.head-bar-mid {
  position: relative;
  display: block;
  width: 100%;
  padding: 6px 0px 6px 0px;
}
.head-bar-mid .search-box {
  position: relative;
  display: inline-block;
  width: 55%;
  float: left;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: 5;
}
.head-bar-mid .search-input {
  /* width: 520px; */
  width: 100%;
  display: block;
  height: 32px;
  max-height: 32px;
  padding: 7px 54px 7px 10px;
  border-radius: 2px;
  border: 0 none;
  outline: 0 none;
  font-size: 14px;
  float: left;
  background-color: rgba(255, 255, 255, .1);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.head-bar-mid .search-input::-webkit-input-placeholder   { color: rgba(255,255,255,.15)!important; } /* Chrome/Opera/Safari */
.head-bar-mid .search-input::-moz-placeholder            { color: rgba(255,255,255,.15)!important; } /* Firefox 19+ */
.head-bar-mid .search-input:-ms-input-placeholder        { color: rgba(255,255,255,.15)!important; } /* IE 10+ */
.head-bar-mid .search-input:-moz-placeholder             { color: rgba(255,255,255,.15)!important; } /* Firefox 18- */

.head-bar-mid .search-input:focus {
  background-color: #fff;
}
.head-bar-mid .btn-box {
  position: relative;
  display: inline-block;
  width: auto;
  z-index: 5;
}
.head-bar-mid .btn-box i {
  font-size: 12px;
}

.head-bar-mid .btn-search {
  position: absolute;
  /*background-color: #2ab574;*/
  background-color: transparent;
  border: none;
  border-radius: 0 2px 2px 0;
  color: #aaa;
  padding: 0;
  height: 32px;
  width: 44px;
  right: 0;
  cursor: pointer;
}
.head-bar-mid .btn-cart,
.head-bar-mid .btn-cate,
.head-bar-mid .btn-search-toggle,
.head-bar-mid .btn-menu {
  display: inline-block;
  background-color: rgba(89, 109, 120, .2);
  border: 1px solid rgba(89, 109, 120, .0);
  text-align: center;
  line-height: 30px;
  border-radius: 2px;
  width: auto;
  padding: 0px 10px;
  color: #aaa!important;
  cursor: pointer;
  z-index: 5;
}
.head-bar-mid .btn-search:hover,
.head-bar-mid .btn-cart:hover,
.head-bar-mid .btn-cate:hover,
.head-bar-mid .btn-search-toggle:hover,
.head-bar-mid .btn-menu:hover {
  background-color: #9af200;
  color: #fff!important;
  text-decoration: none;
}
.head-bar-mid .btn-cate,
.head-bar-mid .btn-search-toggle,
.head-bar-mid .btn-menu {
  display: none;
}
.head-bar-mid .item-number {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, .1);
  height: 24px;
  padding: 6px 6px;
  display: inline-block;
  color: inherit;
  line-height: 12px;
  font-size: 14px;
}


.head-bar-bot {
  position: relative;
  display: block;
  width: 100%;
  border-top: 1px solid rgba(18, 42, 54, .1);
  border-bottom: 1px solid #122a36;
  font-size: 17px;
}
.head-bar-bot .menu-bot {
  -webkit-padding-start: 0px;
  margin: 0;
  padding: 0;
  z-index: 5;
}
.head-bar-bot .menu-bot li {
  position: relative;
  display: inline-block;
}
.head-bar-bot .menu-bot a {
  color: rgba(255,255,255,.6);
  text-decoration: none;
  cursor: pointer;
}
.head-bar-bot .menu-bot .nav-link {
  padding: .5rem 1rem;
  font-size: 16px;
}
.head-bar-bot .menu-bot .dropdown-menu .nav-link {
  padding: .25rem 1rem;
}
.head-bar-bot .menu-bot .nav-item:hover .main {
  background-color: #122a36;
  color: #daf211;
}
.head-bar-bot .menu-bot .dropdown:hover .dropdown-menu {
  display: block;
}
.head-bar-bot .menu-bot .dropdown .dropdown-menu {
  margin: 0;
  border-radius: 0;
  box-shadow: 0 4px 8px -3px #555454;
}
.head-bar-bot .menu-bot .dropdown .dropdown-menu a {
  color: #000;
  font-size: 15px;
}
.head-bar-bot .menu-bot .dropdown .dropdown-menu li {
  width: 100%;
}
.head-bar-bot .menu-bot .dropdown .dropdown-menu li:hover {
  background-color: #daf211;
}
.head-bar-bot .menu-bot .active > .nav-link {
  color: #daf211;
}
.head-bar-bot .menu-bot .active > .nav-link:before {
  font-family: 'FontAwesome';
  font-size: 10px;
  content: '\f06c';
  color: #daf211;
  background-color: #122a36;
  margin-right: 6px;
  padding: 3px;
  border-radius: 50%;
}



@media (min-width: 0px) {
  .head-banner .switch-banner {
    content:url("../images/banner-sm.png");
  }
}
@media (min-width: 576px) {
  .head-banner .switch-banner {
    content:url("../images/banner-lg.png");
  }
}
@media (min-width: 1367px) {
  .head-banner .switch-banner {
    content:url("../images/banner-xl.png");
  }
  .head-bar-mid .search-box {
    width: 35%;
  }
}
@media (min-width: 1440px) {
  .head-bar-mid .search-box {
    width: 40%;
  }
}
/*#site-header .head-banner img.banner-sm,
#site-header .head-banner img.banner-md,
#site-header .head-banner img.banner-xl {
  display: block;
}*/


@media (max-width: 1200px) {
  #site-header .head-banner img {
    right: -70px;
  }
  .head-bar-mid .search-box  {
    width: 50%;
    max-width: 68%!important;
  }
  .head-bar-bot  {
    background-color: rgba(23, 53, 68, .8);
    z-index:5;
  }
}
@media (max-width: 992px) {
  #site-logo img {
    margin: 15px auto 10px auto;
  }
  #site-header .head-banner img {
    top: 0;
    height: 100%;
    right: 0px;
  }
  .head-bar-mid .btn-cart,
  .head-bar-mid .btn-cate,
  .head-bar-mid .btn-search-toggle,
  .head-bar-mid .btn-menu {
    display: inline-block !important;
    background-color: rgba(89, 109, 120, .0);
  }
  .head-bar-mid .btn-cart:hover,
  .head-bar-mid .btn-cate:hover,
  .head-bar-mid .btn-search-toggle:hover,
  .head-bar-mid .btn-menu:hover {
    background-color: inherit;
    border-color: transparent!important;
    color: #9af200!important;
  }
  .head-bar-top .menu-top .nav-link {
    padding: .5rem 1rem;
  }
  .head-bar-top,
  .head-bar-bot,
  .head-bar-mid
  .search-box  {
    display: none;
    background-color: rgba(23, 53, 68, .8);
    z-index:5;
  }
  .head-bar-mid .search-box  {
    width: 235px;
  }
  .head-bar-bot {
    font-size: 15px;
  }
  .head-bar-bot .menu-bot .nav-link {
    padding: .5rem .5rem !important;
  }
}
@media (max-width: 767px) {
  #site-logo img {
    height: auto;
  }
  .head-bar-mid {
    padding: 6px 0px 6px 0px;
  }
  .head-bar-mid .btn-cart,
  .head-bar-mid .btn-cate,
  .head-bar-mid .btn-search-toggle,
  .head-bar-mid .btn-menu {
    display: inline-block !important;
    background-color: rgba(89, 109, 120, .0);
  }
  .head-bar-top .menu-top .nav-link {
    padding: .5rem 1rem;
  }
  .head-bar-top, .head-bar-bot,
  .head-bar-mid .search-box  {
    display: none;
  }
  .head-bar-mid .search-box  {
    width: 274px!important;
    max-width: 274px!important;
  }
  .head-bar-bot .menu-bot,
  .head-bar-top .menu-top  {
    max-height: 75vh;
    overflow: auto;
    padding: 15px 15px 50px 15px;
  }
  .head-bar-bot .menu-bot li,
  .head-bar-top .menu-top li {
    border-bottom: 1px solid #13303f;
    width: 100%;
    text-align: center;
  }
  .head-bar-bot .menu-bot .dropdown .dropdown-menu,
  .head-bar-top .menu-top .dropdown .dropdown-menu {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
  }
  .head-bar-bot .menu-bot .dropdown .dropdown-menu li,
  .head-bar-top .menu-top .dropdown .dropdown-menu li {
    border-bottom: 1px solid #eee;
  }
}
@media (max-width: 576px) {
  #site-header .head-banner {
    position: relative;
    left: 0px;
    top: 0px;
    height: 100%;
  }
  #site-header .head-banner img {
    top: 0px;
    left: 0px;
    height: auto;
  }
  #site-logo img {
    margin: 15px auto 10px auto;
    height: 70px;
  }
}


/*//////////////////////////////////// Banner */
.banner {
  position: relative;
  display: inline-block;
  width: 100%;
}
.banner a {
  position: relative;
  width: 33.33%;
  padding: 0px;
  float: left;
}
@media (max-width: 1024px) {
  .banner a {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .banner a {
    padding: .5rem .5rem 0rem .5rem;
    width: 100%;
  }
}

/*//////////////////////////////////// Site Content */
#site-content, .site-content {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 1.5rem 1rem 1.5rem 1rem;
  margin: 3rem 0rem 3rem 0rem;
  background-color: #fdfdfd;
  border: 1px solid #e9ecef;
}
.site-boxed {
  position: relative;
  display: inline-block;
  width: 100%;
}
@media (max-width: 480px) {
  #site-content {
    padding: 1.5rem 0rem 1.5rem 0rem;
  }
}


/*//////////////////////////////////// Image Profile */

.image_upload {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 15px 0px;
  background-color: #f5f5f5;
}
.image_upload .img_profile {
  position: relative;
  display: block;
  width: 150px;
  height: 150px;
  bottom: 75px;
  margin: 0 auto;
}
.img_profile .profile_pic {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  float: left;
  text-align: center;
  border: 15px solid #fdfdfd;
  background-color: #fdfdfd;
  overflow: hidden;
  z-index: 1;
}
.img_profile .profile_pic:hover {
  border: 15px solid #bbff44;
}
.img_profile .profile_pic img {
  height: 120px;
  min-width: 120px;
  max-width: none;
  margin: 0 -100%;
}
.img_profile .img_profile_Inp {
  position: absolute;
  display: inline-block;
  width: 34px;
  height: 34px;
  bottom: 30px;
  background: rgba(134, 212, 0, .7);
  border-radius: 50%;
}

.img_cover .cove_pic {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  /*height: 320px;*/
  text-align: center;
  overflow: hidden;
}
.img_cover .cove_pic img {
  height: auto;
  min-width: 100%;
  max-width: 100%;
  margin: 0 -100%;
}
.img_cover .img_cover_Inp {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

input[type=file].up_img_profile, input[type=file].up_img_cover {
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
  width: 34px;
  height: 34px;
}
input[type=file].up_img_profile + label, input[type=file].up_img_cover + label {
  position: relative;
  cursor: pointer;
  width: 34px;
  height: 34px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  margin: 0;
  font-size: 16px;
}
.img_profile .img_profile_Inp:hover, .img_cover .img_cover_Inp:hover {
  background: rgba(134, 212, 0, 1);
}
@media (max-width: 1024px) {
  .img_cover .cove_pic {
      height: auto;
  }
}
@media (max-width: 992px) {
  .image_upload .img_profile, .img_profile .profile_pic, .img_profile .profile_pic img {
    width: 100px;
    height: 100px;
  }
  .image_upload .img_profile {
    bottom: 50px;
  }
  .img_profile .profile_pic {
    border: 5px solid #fdfdfd;
  }
  .img_profile .img_profile_Inp {
    bottom: 10px;
  }
}
@media (max-width: 480px) {
  .img_profile .img_profile_Inp {
    bottom: -40px;
    right: 33px;
  }
  .img_cover .img_cover_Inp {
    position: relative;
    top: 20px;
    right: 0;
    margin: 0 auto;
  }
}
/*//////////////////////////////////// Side Warp */

/*Side Warp*/
.side-warp {
  height: 100%;
  width: 0;
  max-width: 100%;
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 1);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 0 4px 8px -3px #555454;
  padding-top: 0px;
  overflow-y: auto;
  overflow-x: hidden;
}
.side-warp .warp-boxed {
  position: absolute;
  width: 100%;
  max-width: 1140px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 3rem auto;
  padding: 15px;
  background-color: #fff;
  overflow: auto;
}
.side-warp a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.side-warp .closebtn {
  position: sticky;
  display: block;
  float: right;
  width: 50px;
  top: 0;
  right: 0px;
  font-size: 30px;
  line-height: normal;
  text-decoration: none;
  color: #dcdcdc;
  padding: 0px 15px 10px 15px;
  transition: 0.1s;
  cursor: pointer;
}
.side-warp .closebtn:hover {
  color: #fff;
  background-color: #dc3545;
}

.side-warp .heading {
  font-size: 36px;
  color: #fff;
}

#map-contact {
  width: 100%;
  height: 100%;
  min-height: 450px;
}
.icon-info {
  width: 24px;
  height: 24px;
  line-height: 24px;
  background:  #b6ec59;
  text-align: center;
  margin-right: .5rem;
  font-size: 12px;
  color: #fff;
}

#site-sidesign {
  background-image: url("../images/bg_login2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/*//////////////////////////////////// Order History */
#history .table thead th, #cart-table-sm.table thead th {
  background-color: #f5f5f5;
  font-weight: normal;
  text-align: center;
  top: 110px;
}
#cart-table-sm.table thead th {
  top: 60px!important;
}
#history .title-main {
  background-color: #bdeaac;
  top: 0;
  z-index: 3;
  padding: 10px 10px 0px 10px;
  margin-bottom: 1rem;
}
#history .title-main select {
  background-color: #b8e0a9;
  border: 1px solid #b0daac;
}
#history .title-doc {
  background-color: #fff;
  top: 50px;
  z-index: 2;
  border-top: 5px solid #fff;
  border-bottom: 1px solid #ececec;
}
#history .title-print {
  padding: 6px 10px 5px 10px;
  top: -5px;
  background-color: #b8e0a9;
  border: 1px solid #b0daac;
  color: black;
}
@media (max-width: 720px) {
  #history .title-doc {
    top: 83px;
  }
  #history .title-main {
    text-align: center;
  }
  #history .table td, .table th, .table td {
    padding: .25rem;
  }
  #history .table thead th {
    top: 134px;
  }
}

/*//////////////////////////////////// Form Signin */
.form-signin {
  max-width: 300px;
  padding: 12vh 15px 15px 15px;
  margin: 0 auto;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*//////////////////////////////////// Owl Custom */
.owl-home .owl-controls .owl-buttons div {
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 50%;
  height: 60px;
  line-height: 55px;
  display: inline-block;
  zoom: 1;
  padding: 0px 4px;
  *display: inline;
  /*IE7 life-saver */
  background: #444;
  filter: Alpha(Opacity=60);
  /*IE7 fix*/
  opacity: 0.6;
  margin-top: -30px;
}
.owl-home:hover .owl-controls .owl-buttons div {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
}
.owl-home .owl-controls .owl-buttons div.owl-prev {
  left: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
}
.owl-home .owl-controls .owl-buttons div.owl-next {
  right: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
}
.owl-home .owl-controls .owl-buttons div.owl-prev img,
.owl-home .owl-controls .owl-buttons div.owl-next img {
  width: 24px;
  height: 48px;
}

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 40%;
  width: 30px;
  height: 60px;
  background-size: 24px 48px!important;
  background-position: center center!important;
  background-repeat: no-repeat!important;
}
.owl-carousel .owl-nav .owl-prev {
  background-image: url('../images/icon_carousel_prev.png')!important;
  margin: 0px!important;
  left: -30px;
  opacity: .3;
}
.owl-carousel .owl-nav .owl-next {
  background-image: url('../images/icon_carousel_next.png')!important;
  margin: 0px!important;
  right: -30px;
  opacity: .3;
}

.cove_pic.owl-carousel .owl-nav .owl-prev {
  left: 0px;
}
.cove_pic.owl-carousel .owl-nav .owl-next {
  right: 0px;
}


.product-slide {
  position: relative;
  display: inline-block;
  width: 100%;
}
.product-slide .thumb-box {
  position: relative;
  width: 15%;
  text-align: center;
  list-style: none;
  -webkit-padding-start: 0;
  -moz-padding-start: 20px;
  padding-left: 0;
  float: left;
}
.product-slide .thumb-box .url {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-bottom: 6px;
  border: 1px solid #f2f2f2;
  background-color: #fdfdfd;
  overflow: hidden;
}
.product-slide .thumb-box .url:hover,
.product-slide .thumb-box .url.active {
  border: 1px solid #e9ecef;
  background-color: #e9ecef;
}
.product-slide .slide-box {
  position: relative;
  width: 85%;
  float: left;
}

/*//////////////////////////////////// Product */
#product-boxed  {
  position: relative;
  display: inline-block;
  width: 100%;
}
#product-boxed .product-item, #product-boxed .product-item.side {
  width: 50%;
}
.product-item  {
  position: relative;
  display: inline-block;
  width: 100%;
  float: left;
}
.product-item .discount {
  color: #868e96;
  display: block;
  position: relative;
  right: unset;
  bottom: unset;
}
.product-item .tag {
  font-family: 'cloud_lightlight';
  color: #fff;
  background-color: #28a745;
  display: inline-block;
  font-size: 75%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  padding: .25rem .5rem;
  border-radius: 10rem;
}
.product-item .price {
  color: #28a745;
  font-weight: 600;
}


.product-item .product-btn {
  position: absolute;
  top: 1.25rem;
  bottom: 1.25rem;
  left: 0;
  right: 0;
}
.product-item .product-btn .btn {
  line-height: 36px;
  padding: 0;
}
.product-item:hover .product-btn {
  visibility: visible!important;
}

@media (min-width: 576px) {
  #product-boxed .product-item, #product-boxed .product-item.side  {
    width: 33.33333333%;
  }
  .product-item .discount {
    display: block;
    position: absolute;
    right: 0.75rem;
    bottom: 2.25rem;
  }
  .product-item .product-btn {
    position: absolute;
    top: 1.25rem;
    bottom: 1.25rem;
    left: 0.75rem;
    right: 0.75rem;
  }

}
@media (min-width: 768px) {
  #product-boxed .product-item  {
    width: 25%;
  }
}
@media (min-width: 992px) {
  #product-boxed .product-item  {
    width: 20%;
  }
}
@media (min-width: 1200px) {
  #product-boxed .product-item  {
    width: 16.66666667%;
  }
  #product-boxed .product-item.side  {
    width: 100%;
  }
}

/*//////////////////////////////////// Site Footer */
.site-footer .section-01,
.site-footer .section-02 {
  position: relative;
  display: inline-block;
  width: 100%;
}
.site-footer .section-01 {
  background-color: #173544;
  color: #798d94;
}
.site-footer .section-01 ul {
  -webkit-padding-start: 20px;
  -moz-padding-start: 20px;
  padding-left: 20px;
  list-style-type: circle;
  line-height: 16px;
}
.site-footer .section-01 .switch {
  display: none;
}
.site-footer .section-01 a {
  color: #798d94;
}
.site-footer .section-01 i {
  width: 20px;
  font-size: 12px;
  text-align: left;
}
.site-footer .section-01 .contact {
  width: 100%;
  height: 100%;
  background-image: url(../images/map-footer.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}

.site-footer .section-02 {
  background-color: #fff;
  background-image: url(../images/bg_footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
.site-footer .section-02 img {
  margin: 0 0 4px 0;
}


.social {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  opacity: .7; -o-opacity: .7; -moz-opacity: .7; -webkit-opacity: .7;
}
.social:hover {
  opacity: 1; -o-opacity: 1; -moz-opacity: 1; -webkit-opacity: 1;
}
.social.facebook {
  background-image: url(../images/icons/sc-facebook.png);
}
.social.line {
  background-image: url(../images/icons/sc-line.png);
}
.social.youtube {
  background-image: url(../images/icons/sc-youtube.png);
}


#goTop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  outline: none;
  font-size: 24px;
  background-color: #baff41;
  color: #79ce00;
  border: none;
  cursor: pointer;
  padding: 4px 12px;
  border-radius: 50%;
  opacity: 0.8;
}
#goTop:hover {
  opacity: 1;
}

@media (max-width: 767px) {
  .site-footer .section-01 ul {
    display: none;
  }
  .site-footer .section-01 .switch {
    display: block;
  }
  .site-footer .section-02 img {
    width: 30%;
  }
}
/*//////////////////////////////////// Boostrap Custom */
/*input, select {
  border-radius: 0!important;
}*/
.btn {
  font-family: 'cloud_lightlight';
  cursor: pointer;
}
.btn-number {
  font-size: 20px;
  line-height: 21px;
  background-color: rgba(0,0,0,.03);
}
.input-number {
  /*min-width: 60px;*/
  width: 50px;
  border: 1px solid rgba(0,0,0,.03);
}
.btn-success {
  color: #fff;
  background-color: #86d400;
  border-color: #80d400;
}
.btn-success:hover {
  background-color: #80c600;
  border-color: #86d400;
}
.btn-dark {
  color: #fff;
  background-color: #173544;
  border-color: #163544;
}
.btn-dark:hover {
  background-color: #193550;
  border-color: #163544;
}
.bg-light {
  background-color: #fdfdfd!important;
}
.alert-light {
  color: #818182;
  background-color: #fdfdfd;
  border-color: #faf8f8;
  border-radius: 0;
  border: 1px solid #e9ecef;
}
.breadcrumb {
  padding: .7rem 0rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #f9f9f9;
  border-radius: 0;
  font-size: 12px;
}
.breadcrumb a {
  color: #004998;
}
.breadcrumb-item {
  float: none;
}


.card-columns {
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 5px;
  column-gap: 5px;
}
.card-columns .card {
  margin-bottom: 5px;
  border: none;
}
.card-columns .card-img {
  border-radius: 0;
}


.nav-pills .nav-link {
  position: relative;
  color: #212529;
  border-radius: 0;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  padding: .75rem;
}
.nav-pills .nav-link:hover {
  background-color: #2ab574;
}
.nav-pills .nav-link.active {
  color: #2ab574;
  font-weight: 600;
  background-color: #f5f5f5;
  /*background-color: #f0f0f0;*/
}
.nav-pills .nav-link.active:after {
  position: absolute;
  font-family: 'FontAwesome';
  content: '\f0d7';
  font-size: 16px;
  color: rgba(0, 0, 0, 0.1);
  bottom: -3px;
  left: 0;
  width: 100%;
  text-align: center;
}
@media (max-width: 992px) {
  #highlight .nav-pills .nav-link {
    color: #4d717d!important;
    background-color: #1d4552;
    border: 1px solid #2d4856;
  }
  #highlight .nav-pills .nav-link.active {
    color: #7da1ad!important;
    background-color: #1d4552;
  }
}


.fixnav {
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 3;
  width: 100%;
  margin: 0px!important;
}
.doc-pills.nav-pills,
.cat-pills.nav-pills{
  font-size: 16px;
  background-color: #e7e7e7;
}
.doc-pills.nav-pills .nav-link,
.cat-pills.nav-pills .nav-link {
  color: #777;
  border-radius: 0;
  background-color: #fafafa;
  border: 1px solid #f8f8f8;
  padding: 1.25rem .5rem;
}
.doc-pills.nav-pills .nav-link:hover,
.cat-pills.nav-pills .nav-link:hover {
  color: #173544;
  background-color: #7bce39;
}
.doc-pills.nav-pills .nav-link.active,
.show > .doc-pills.nav-pills .nav-link,
.cat-pills.nav-pills .nav-link.active,
.show > .cat-pills.nav-pills .nav-link {
  color: #28a745;
  background-color: #f7f7f7;
  border-color: #f8f8f8;
  font-weight: normal;
}

.doc-tab.nav-tabs {
  border-bottom: 1px solid #ddd;
  background-color: #f0f0f0;
}
.doc-tab.nav-tabs .nav-link {
  color: #999;
  border-radius: 0;
  border: 1px solid transparent;
}
.doc-tab.nav-tabs .nav-link.active,
.doc-tab.nav-tabs .nav-item.show .nav-link {
  color: #8fe000;
  background-color: #f8f9fa;
  border-color: #f0f0f0 #ddd #ddd;
}

.cart-tab.nav-tabs {
  font-size: 16px;
  background-color: #e7e7e7; 
}
.cart-tab.nav-tabs .nav-link {
  color: #5f6d77;
  border: 1px solid #e0e0e0;
  border-radius: 0;
  padding: 1.25rem .5rem;
}
.cart-tab.nav-tabs .nav-link:hover {
  color: #173544;
  background-color: #7bce39;
}
.cart-tab.nav-tabs .nav-link.active,
.cart-tab.nav-tabs .nav-item.show .nav-link {
  color: #173544;
  background-color: #ccc;
  border-color: #ccc;
}

.cat-pills-sub {
  position: relative;
  display: inline-block;
  width: 100%;
  max-height: 60vh;
  overflow: auto;
  border: 2px solid #e7e7e7!important;
}
.cat-pills-sub.nav-pills .nav-link {
  color: #999;
  border-radius: 0;
  background-color: #fdfdfd;
  border: 1px solid #fbfbfb;
  padding: .25rem 1rem;
  width: 25%;
  float: left;
}
.cat-pills-sub.nav-pills .nav-link:hover {
  color: #444;
  background-color: #baff41;
}
.cat-pills-sub.nav-pills .nav-link.active {
  color: #444;
  background-color: #baff41;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #919ba0;
  border-color: #919ba0;
}
.page-link:focus,
.page-link:hover {
  color: #2ab574;
  background-color: #e9ecef;
  border-color: #ddd;
}
.page-link {
  color: #aaa;
}


/*Flexbox For Safari */
.row, .nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}


@media (max-width: 992px) {
  .cat-pills.nav-justified .nav-item {
    -ms-flex-preferred-size: unset;
    flex-basis: unset;
    -ms-flex-positive: unset;
    flex-grow: unset;
    text-align: center;
  }
  .cat-pills.nav-justified .nav-item.w-10 {
    width: 20%!important;
  }
  .cat-pills.nav-pills .nav-link {
    padding: .45rem .25rem !important;
  }
  .cat-pills-sub.nav-pills .nav-link {
    width: 33.33%!important;
  }
}
@media (max-width: 576px) {
  .doc-pills.nav-pills,
  .cat-pills.nav-pills{
    font-size: 14px;
  }
  .doc-tab.nav-tabs .nav-link {
    padding: .6rem .2rem;
    font-size: 11px;
  }
  .doc-pills.nav-pills .nav-link,
  .cart-tab.nav-tabs .nav-link {
    padding: 1rem .3rem !important;
    font-size: 20px !important;
  }
  .cat-pills.nav-pills .nav-link {
    padding: .5rem .3rem !important;
  }
  /*.cat-pills.nav-justified .nav-item.w-10 {
    width: 50%!important;
  }*/
  .cat-pills-sub.nav-pills .nav-link {
    width: 100%!important;
  }
}