.rwd-table td:before {
  display: none;
}

@media (max-width: 720px) {
  .rwd-table {
    width: 100%;
  }
  .rwd-table tr {
    border-top: 1px solid #28a745;
    border-bottom: 1px solid #28a745;
  }
  .rwd-table th {
    display: none;
  }
  .rwd-table td {
    display: block;
  }
  .rwd-table td.hide-sm {
    display: none;
  }
  .rwd-table td:first-child {
    padding-top: 2em;
    background-color: #555;
  }
  .rwd-table td:last-child {
    padding-bottom: 2em;
  }
  .rwd-table td:before {
    position: absolute;
    display: block;
    font-family: 'cloud_lightlight';
    /*content: attr(data-th) " : ";*/
    content: attr(data-th) "";
    font-weight: bold;
    width: auto;
    left: .75rem;
    top: .75rem;
    color: #000;
  }
  .rwd-table th, .rwd-table td {
    position: relative;
    border-bottom: none;
    text-align: left !important;
    padding-left: 30% !important;
  }

}





