@font-face {
  font-family: "thbanks";
  src: url('../fonts/thbanks.eot');
  src: url('../fonts/thbanks.eot?#iefix') format('eot'),
    url('../fonts/thbanks.woff') format('woff'),
    url('../fonts/thbanks.ttf') format('truetype'),
    url('../fonts/thbanks.svg#thbanks') format('svg');
  font-weight: normal;
  font-style: normal;
}

i.thbanks {
  display: inline-block;
  padding: 10px;
  margin: 0 0 4px 0;
  line-height: initial;
  border-radius: 0.25rem;
}
.thbanks:before {
  display: inline-block;
  font-family: "thbanks";
  font-style: normal;
  font-weight: normal;
  line-height: initial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

.thbanks-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.thbanks-2x { font-size: 2em; }
.thbanks-3x { font-size: 3em; }
.thbanks-4x { font-size: 4em; }
.thbanks-5x { font-size: 5em; }
.thbanks-fw {
  width: 1.2857142857142858em;
  text-align: center;
}
/* กสิกร */
.thbanks-baac:before  { content: "\EA01" }
.thbanks-baac         { background-color:#4b9b1d }
/* กรุงศรี  */
.thbanks-bay:before   { content: "\EA02" }
.thbanks-bay          { background-color:#fec43b }
/* กรุงเทพ */
.thbanks-bbl:before   { content: "\EA03" }
.thbanks-bbl          { background-color:#1e4598 }
/* BNP Paribas  */
.thbanks-bnp:before   { content: "\EA04" }
.thbanks-bnp          { background-color:#14925e }
/* Bank of America */
.thbanks-boa:before   { content: "\EA05" }
.thbanks-boa          { background-color:#e11e3c }

.thbanks-cacib:before { content: "\EA06" }
.thbanks-cacib        { background-color:#0e765b }

.thbanks-cimb:before  { content: "\EA07" }
.thbanks-cimb         { background-color:#7e2f36 }

.thbanks-citi:before  { content: "\EA08" }
.thbanks-citi         { background-color:#1583c7 }

.thbanks-db:before    { content: "\EA09" }
.thbanks-db           { background-color:#0522a5 }
/* อาคารสงเคราะ */
.thbanks-ghb:before   { content: "\EA0A" }
.thbanks-ghb          { background-color:#f57d23 }
/* ออมสิน */
.thbanks-gsb:before   { content: "\EA0B" }
.thbanks-gsb          { background-color:#eb198d }

.thbanks-hsbc:before  { content: "\EA0C" }
.thbanks-hsbc         { background-color:#fd0d1b }
/* อิสลาม */
.thbanks-ibank:before { content: "\EA0D" }
.thbanks-ibank        { background-color:#184615 }

.thbanks-icbc:before  { content: "\EA0E" }
.thbanks-icbc         { background-color:#c50f1c }

.thbanks-jpm:before   { content: "\EA0F" }
.thbanks-jpm          { background-color:#321c10 }

.thbanks-kbank:before { content: "\EA10" }
.thbanks-kbank        { background-color:#138f2d }
/* เกียรตินาคิน */
.thbanks-kk:before    { content: "\EA11" }
.thbanks-kk           { background-color:#199cc5 }
/* กรุงไทย */
.thbanks-ktb:before   { content: "\EA12" }
.thbanks-ktb          { background-color:#1ba5e1 }
/* แลนด์ แอนด์ เฮาส์ */
.thbanks-lhb:before   { content: "\EA13" }
.thbanks-lhb          { background-color:#6d6e71 }
/*  */
.thbanks-mb:before    { content: "\EA14" }
.thbanks-mb           { background-color:#150b78 }

.thbanks-mega:before  { content: "\EA15" }
.thbanks-mega         { background-color:#815e3b }

.thbanks-mufg:before  { content: "\EA16" }
.thbanks-mufg         { background-color:#d61323 }

.thbanks-rbs:before   { content: "\EA17" }
.thbanks-rbs          { background-color:#032952 }
/* ธนาคารสแตนดาร์ดชาร์เตอร์ด */
.thbanks-sc:before    { content: "\EA18" }
.thbanks-sc           { background-color:#0f6ea1 }
/* ธนาคารไทยพาณิชย์ */
.thbanks-scb:before   { content: "\EA19" }
.thbanks-scb          { background-color:#4e2e7f }

.thbanks-smbc:before  { content: "\EA1A" }
.thbanks-smbc         { background-color:#a0d235 }
/* ธนาคารธนชาต */
.thbanks-tbank:before { content: "\EA1B" }
.thbanks-tbank        { background-color:#fc4f1f }

.thbanks-tcrb:before  { content: "\EA1C" }
.thbanks-tcrb         { background-color:#0a4ab3 }
/* tisco */
.thbanks-tisco:before { content: "\EA1D" }
.thbanks-tisco        { background-color:#12549f }
/* ธนาคารทหารไทย */
.thbanks-tmb:before   { content: "\EA1E" }
.thbanks-tmb          { background-color:#1279be }
/* UOB */
.thbanks-uob:before   { content: "\EA1F" }
.thbanks-uob          { background-color:#0b3979 }
